*,p{
    margin:0;
    padding:0;
}

body {
    font-family: 'PF Encore Sans Pro';
    font-weight: 100;
    color: #adadad;
    letter-spacing: 0.55px;
}

.page2 {
    display: grid;
    justify-items: center;
    min-width: 1260px;
    padding-top: 56px;
    height: 100%;
    align-content: start;
    grid-template-rows: auto auto 1fr 50px;
}

.header-title {
    font-size: 28px;
    color: #868686;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    border-bottom: 1px #adadad solid;
}
.header-title span {
    color: #fc635e
}

.header-text{
    font-size:20px;
    line-height:25px;
    width:508px;
    margin-top:18px;
    text-align:center;
}

.page2-content {
    margin-top: 80px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4,auto);
    width: 100%;
    padding: 0 160px;
}

a {
    font-size: 20px;
    color: #868686;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
a:hover {
    color: #6c6c6c;
    text-decoration: none;
}


.hex {
    stroke-width: 6;
    fill-rule: evenodd;
}

.hex-container{
    display:inline-block;
    text-align:center;

}

.hex-container > div {
    height: fit-content;
    width: 204px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.hex-container img {
    position: absolute;
}
.hex-container svg {
    height: 116px;
    width: 112px;
}

svg.a-line {
    width: 57px;
    height: 1px;
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 4px;
}

.hex-container p {
    height: 60px;
    width: 215px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    margin-top: 16px;
    letter-spacing: 0.5px;
    word-spacing: 0.8px;
    line-height: 18px;
}

.hex.filled {
    stroke: #fe8682;
    fill: #fc635e;
}

.hex.unfilled {
    stroke: #fc635e;
    fill: transparent;
}

.page-footer-button {
    align-self: end;
    margin-bottom: 14px;
}

.page3 {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 50px;
}

.page3.background {
    background-image: url(/images/background_page3.png);
}

.page3-content {
    width: 100%;
    height: 100%;
    padding: 90px 160px 100px;
}
.page3-content > div {
    border: 8px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    display:grid;
}

.page3-content .content{
    margin-top:125px;
}

.page3-content button {
    margin-top: auto;
    margin-bottom: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-self: end;
}


.page4 {
    display: grid;
    justify-items: center;
    min-width: 1260px;
    padding-top: 40px;
    height: 100%;
    align-content: start;
    grid-template-rows: auto auto 1fr 50px;
}

.page4 .content {
    position: relative;
    width: 100%;
    min-height: 550px;
}

.page4 .content > div {
    position: absolute;
    margin-top: 55px;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page4 img[src*="hexgroup"] {
    position: relative;
    z-index: -2;
}
.page4 img[src*="lamp"] {
    position: absolute;
    left: -20px;
    top: 130px;
}
.page4 img[src*="screen"] {
    position: absolute;
    left: 247px;
    top: 181px;
}
.page4 img[src*="head"] {
    position: absolute;
    left: 332px;
    top: 35px;
}
.page4 img[src*="hand"] {
    position: absolute;
    left: 505px;
    top: 130px;
}
.page4 img[src*="rocket"] {
    position: absolute;
    left: 634px;
    top: 355px;
}

.page4 svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    stroke: #fc635d;
    stroke-width:4;
}

.text-content {
    position: absolute;
    display: grid;
    justify-items: center;
}

.content > div .text-content:nth-of-type(1) {
    left: 15px;
    top: 145px;
}
.content > div .text-content:nth-of-type(2) {
    left: 280px;
    top: 205px;
}
.content > div .text-content:nth-of-type(3) {
    left: 367px;
    top: 51px;
}
.content > div .text-content:nth-of-type(4) {
    left: 540px;
    top: 143px;
}

.content > div div:nth-of-type(4) > p:last-child {
    width:220px;
}

.text-content .header-title {
    font-size: 24px;
    padding-bottom: 7px;
}

.text {
    font-size: 15px;
    font-weight: 200;
}
.text-content p:last-child {
    color: #9f9f9f;
    text-transform: none;
    width: 150px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-top: 10px;
    line-height: 17px;
}


.page5 {
    display: grid;
    justify-items: center;
    min-width: 1260px;
    padding-top: 40px;
    height: 100%;
    background-color: #f2f2f2;
    grid-template-rows: auto 1fr 50px;
    grid-template-columns:1fr 1fr;
    align-items:center;
}

.page5>.header-title{
    margin-top:10px;
    margin-bottom:28px;
}

.page5 > p {
    grid-column: 1/3;
}
.page5 > button {
    grid-column: 1/3;
}

.page5 div:nth-of-type(1) {
    padding-left: 126px;
}
.page5 div:nth-of-type(2) {
    padding-right: 160px;
}

.page5 > div .header-title {
    border-bottom: none;
    border-left: 10px solid #fc635e;
    line-height:40px;
    padding-left:10px;
}

.page5 .text {
    width: 400px;
    line-height: 24px;
    margin-top: 11px;
}
.page5 .button {
    margin-top: 35px;
    width: 167px;
    height: 44px;
    font-size: 20px;
}


.page6 {
    display: grid;
    justify-items: center;
    min-width: 1260px;
    padding-top: 40px;
    height: 100%;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.page6 > button {
    grid-column:1/3;
}

.page6 div:nth-of-type(1) {
    padding-left: 160px;
}
.page6 div:nth-of-type(2) {
    justify-items: end;
    display: grid;
    padding-right: 124px;
}

.page6 > div .header-title {
    border-bottom: none;
    border-right: 10px solid #fc635e;
    line-height: 40px;
    padding-right: 10px;
}

.page6 p{
    text-align:right;
}

.page6 .text {
    width: 400px;
    line-height: 24px;
    margin-top: 11px;
}

.page6 .button {
    margin-top: 42px;
    width: 167px;
    height: 44px;
    font-size:20px;
}

.page7 {
    display: grid;
    justify-items: center;
    min-width: 1260px;
    height: 100%;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f2f2f2;
}

.page7 > button {
    grid-column: 1/3;
}

.page7 div:nth-of-type(1) {
    padding-left: 137px;
    margin-top: -30px;
}

.page7 div:nth-of-type(2) {
    padding-right: 153px;
    margin-top: 14px;
}

.page7 > div .header-title {
    border-bottom: none;
    border-left: 10px solid #fc635e;
    line-height: 40px;
    padding-left: 10px;
}

.page7 .text {
    width: 400px;
    line-height: 24px;
    margin-top: 11px;
}

.page7 .button {
    margin-top: 35px;
    width: 167px;
    height: 44px;
    font-size: 20px;
}

.page8 {
    display: grid;
    justify-items: center;
    min-width: 1260px;
    padding-top: 40px;
    height: 100%;
    grid-template-rows: auto auto 1fr auto 50px;
    align-items: center;
}

.page8 .header-menu {
    margin: 0;
    padding: 0;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    height: 60px;
    margin-top: 40px;
    width: 939px;
    color: #adadad;
}

.page8 .header-menu a,.page8 .header-menu a {
    margin: 0 15px;
}

.page8 .header-menu a {
    color:  #fc635e
}

.page8 .content {
    width: 964px;
    line-height: 0px;
    font-size: 0px; /*убираем отступы между инлайн объектами изображений*/
    margin-top: 22px;
    margin-bottom: 37px;
}

.page8 .content > div {
    overflow: hidden;
    height: 200px;
    display: inline-block;
    margin: 6px;
    position: relative;
}

.page8 .content>div:nth-of-type(n) {
    width: 469px;
}
.page8 .content>div:nth-of-type(2n) {
    width: 222px;
}
.page8 .content>div:nth-of-type(3n) {
    width: 235px;
}
.page8 .content>div:nth-of-type(4n) {
    width: 222px;
}
.page8 .content>div:nth-of-type(5n) {
    width: 235px;
}
.page8 .content>div:nth-of-type(6n) {
    width: 469px;
}
.page8 .content img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.page8 .button {
    width: 192px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}



.page8 .content > div:hover > .overlay::after {
    content: attr(title);
    font-size:28px;
    position:absolute;
    left:22px;
    top:28px;
    line-height:28px;

}


.overlay {
    width: 100%;
    height: 200px;
    background-color: #fc635e;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
    color:white;
}

.overlay p {
    width: 100%;
    height: 100%;
    font-size: 150px;
    top: 50%;
    position: absolute;
}









