*{
    margin:0;
    padding:0;
}
html, body {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'PF Encore Sans Pro';
}

.main {
    padding: 0 160px;
}
.background-with-image {
    height: 100%;
    min-height: 765px;
    min-width: 1260px;
}
.main.background {
    background-image: url(/images/background_main.png);
}
.background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:22px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: 59px 68px;
    height: 68px;
    width: 59px;
    text-align: center;
    line-height: 68px;
    color: #0c252d;
    font-size:35.7px;
    font-weight:bold;
}
.title {
    font-family: 'Gotham Pro';
    font-size: 24.08px;
    font-weight: bold;
    line-height: 1;
    margin-left:14px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:48px;
}

.header-menu a{
    font-size:16px;
    font-weight:100;
    letter-spacing:1px;
    color:white;
    margin:0 5px;
}
.header-menu a:hover {
    text-decoration: none;
    color: #fc635e;
    border-bottom: 4px solid #fc635e;
    padding-top: 8px;
    padding-bottom: 4px;
}

.main-content {
    display: grid;
    grid-template-columns: auto 725px auto;
    margin-top: 193px;
}

.content {
    font-weight: bold;
    font-size: 51px;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.7;
    vertical-align: top;
}
.content span {
    color: #fc635e;
}

.main-content > p {
    font-weight: 100;
    font-size: 24.01px;
    text-align: center;
    letter-spacing: 0.7px;
    margin-top: 2px;
    margin-bottom:40px;
}

.main-content div:nth-child(1), .main-content div:nth-child(3) {
    border-top: 8px solid #504d4d;
    margin-top: 15px;
}

.buttons {
    --central-row-height: 100px;
    display: grid;
    grid-template-columns: auto 205px auto;
    grid-template-rows: 1fr var(--central-row-height) 1fr;
}

.button {

    width: 205px;
    height: 56px;
    border-radius: 7px;
    font-weight: 300;
    font-size: 24px;

    border: 2px solid #fc635e;
}

.button.unfilled {
    border: 2px solid #fc635e;
}

.unfilled {
    border: 1px solid #fc635e;
    background-color: transparent;
    color: #fc635e;
    letter-spacing: 0.65px;
}

.filled {
    color: white;
    background-color: #fc635e;
    border: none;
}

.main-button {
    grid-column: 2;
    grid-row: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    position: relative;
    transform: translateX(-50%);
}

.main-footer-button {
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    grid-column: 2;
    grid-row: 3;
    top: 50%;
}

.footer-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.mouse-form {
    position: relative;
    grid-column: 3;
    grid-row: 1/4;
    overflow-y: hidden;
    
}

.mouse-path {
    margin-top: 28px;
    position: absolute;
    left: 0px;
    top: 0;
    margin-left: 10px;
}
.mouse-path>img {
    position:absolute;
}

.mouse-scroll-active{
    opacity:0;
}

.movement {
    width: 47px;
    height: 32px;
    offset-position: center top;
    offset-path: path('M118,799V25C115.264,10.756,101.875,1.724,91,2H-4');
    offset-distance: 97%;
}

@keyframes move {
    0%{
        offset-distance:0%;

    }
    100% {
        offset-distance:100%;
    }
}


    


/*
.header-logo {
    content: "\2B22";
    color: #fc645f;
    font-size:24px;
    height:68px;
    width:68px;
    position:absolute;
    margin-left:-20px;
    z-index:0;
}*/


/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}*/
