@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
    <div class="header">
        <div class="header-logo">
            <div class="logo">D</div>
            <div class="title">Daisy</div>
        </div>
        <div class="header-menu">
            <a href="#">ABOUT</a>
            <a href="#">PORTFOLIO</a>
            <a href="#">SERVICES</a>
            <a href="#">CONTACT</a>
        </div>
    </div>
    <div class="main-content">
        <div></div>
        <div class="content"><p><span>Clients</span> in your business</p></div>
        <div></div>
        <div></div>
        <p class="">Your clients on the internet. Learn how to receive them.</p>
        <div></div>
    </div>
    <button class="button unfilled">I want clients</button>
    <div class="footer-button filled"></div>
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
