@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts{
    <script src="~/js/main.js"></script>
}

<div class="main">
    <div class="header">
        <div class="header-logo">
            <div class="logo">D</div>
            <div class="title">Daisy</div>
        </div>
        <div class="header-menu">
            <a asp-page="Page2">ABOUT</a>
            <a href="#">PORTFOLIO</a>
            <a href="#">SERVICES</a>
            <a href="#">CONTACT</a>
        </div>
    </div>
    <div class="main-content">
        <div></div>
        <div class="content"><p><span>Clients</span> in your business</p></div>
        <div></div>
        <div></div>
        <p class="">Your clients on the internet. Learn how to receive them.</p>
        <div></div>
    </div>
    <div class="buttons">
        <button class="main-button button unfilled">I want clients</button>
        <button class="main-footer-button filled footer-button" onclick="window.location.href='/Page2'"><img src="~/icons/arrow-down-w.svg" /></button>
        <div class="mouse-form">
            <img class="mouse-path" src="~/images/curve.svg" />
            <div class="movement mouse-path">
                <img src="~/images/mouse.png">
                <img class="mouse-scroll-active" src="~/images/mouse-scroll-active.png">
            </div>
        </div>
    </div>
</div>
