@page
@model Site2.Pages.Page11Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />

<div class="page11">
    <div>
        <div class="hex-container">
            <a href="~/Page10">
                <p>615 4th Ave S, Jacksonville Beach, FL 32250</p>
                <svg viewBox="0 -4 100 128">
                    <polygon class="hex filled" points="0,30 50,0 100,30 100,90 50,120 0,90 0,30" />
                </svg>
            </a>
        </div>
    </div>
    <div></div>
    <div>
        <div>
            <img src="~/images/logo-a.png" />
            <p class="title">Daisy</p>
        </div>
    </div>
</div>
