@page
@model Site2.Pages.Page6Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />

<div class="page6">
    <div>
        <img src="~/images/laptop.png" />
    </div>
    <div>
        <p class="header-title">advertising</p>
        <p class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam </p>
        <button class="button filled">More details</button>
    </div>
    <button class="footer-button unfilled page-footer-button" onclick="window.location.href='/Page7'"><img src="/icons/arrow-down-o.svg"></button>
</div>