@page
@model Site2.Pages.Page2Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />

<div>
    <div class="header-title">
        <p>What can <span>you receive?</span></p>
    </div>
    <div class="header-text">
        <p>Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</p>
    </div>
    <div class="content">
        <div class="hex-container">
            <div>
                <img src="~/icons/clients.png" />
                <svg viewBox="0 -4 100 128">
                    <polygon class="hex filled" points="0,30 50,0 100,30 100,90 50,120 0,90 0,30" />
                </svg>
            </div>
            <a href="#">clients</a>
            <svg class="a-line">
                <line x1="0" y1="0" x2="57" y2="0" style="stroke: #adadad; stroke-width: 1" />
            </svg>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
        </div>
        <div class="hex-container">
            <div>
                <img src="~/icons/brand.png" />
                <svg viewBox="0 -4 100 128">
                    <polygon class="hex unfilled" points="0,30 50,0 100,30 100,90 50,120 0,90 0,30" />
                </svg>
            </div>
            <a href="#">branding</a>
            <svg class="a-line">
                <line x1="0" y1="0" x2="57" y2="0" style="stroke: #adadad; stroke-width: 1" />
            </svg>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
        </div>
        <div class="hex-container">
            <div>
                <img src="~/icons/mark.png" />
                <svg viewBox="0 -4 100 128">
                    <polygon class="hex filled" points="0,30 50,0 100,30 100,90 50,120 0,90 0,30" />
                </svg>
            </div>
            <a href="#">marketing</a>
            <svg class="a-line">
                <line x1="0" y1="0" x2="57" y2="0" style="stroke: #adadad; stroke-width: 1" />
            </svg>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
        </div>
        <div class="hex-container">
            <div>
                <img src="~/icons/adve.png" />
                <svg viewBox="0 -4 100 128">
                    <polygon class="hex filled" points="0,30 50,0 100,30 100,90 50,120 0,90 0,30" />
                </svg>
            </div>
            <a href="#">adv.</a>
            <svg class="a-line">
                <line x1="0" y1="0" x2="57" y2="0" style="stroke: #adadad; stroke-width: 1" />
            </svg>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
        </div>
    </div>
    <button class="footer-button unfilled page-footer-button" onclick="window.location.href='/Page3'"><img src="/icons/arrow-down-o.svg"></button>
</div>