@page
@model Site2.Pages.Page9Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />

<div class="page9">
    <p class="header-title">our <span>team</span></p>
    <div class="content">
        <div class="person">
            <div class="hex-mask">
                <a><img src="/persons/bowman.png"></a>
            </div>
            <p class="name"><span>Tomothy</span> Bowman</p>
            <p class="position">Marketing</p>
            <div class="sites">
                <a><img src="~/icons/twitter.png" /></a>
                <a><img src="~/icons/facebook.png" /></a>
                <a><img src="~/icons/instagram.png" /></a>
            </div>
        </div>
        <div class="person">
            <div class="hex-mask">
                <a><img src="/persons/Tracy.png"></a>
            </div>
            <p class="name"><span>Steve</span> Tracy</p>
            <p class="position">CEO</p>
            <div class="sites">
                <a><img src="~/icons/twitter.png" /></a>
                <a><img src="~/icons/facebook.png" /></a>
                <a><img src="~/icons/instagram.png" /></a>
            </div>
        </div>
        <div class="person">
            <div class="hex-mask">
                <a><img src="/persons/Johns.png"></a>
            </div>
            <p class="name"><span>Hellen</span> Johns</p>
            <p class="position">Clients</p>
            <div class="sites">
                <a><img src="~/icons/twitter.png" /></a>
                <a><img src="~/icons/facebook.png" /></a>
                <a><img src="~/icons/instagram.png" /></a>
            </div>
        </div>
    </div>
    <button class="footer-button unfilled page-footer-button" onclick="window.location.href='/Page10'"><img src="/icons/arrow-down-o.svg"></button>
</div>
