@page
@model Site2.Pages.Page4Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />
<link href="/css/animation.css" rel="stylesheet" />

<div class="page4">
    <div class="header-title">
        <p>our <span>process</span></p>
    </div>
    <div class="header-text">
        <p>Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</p>
    </div>
    <div class="content">
        <div>
            <img src="/images/hexgroup.png">
            <img src="~/images/lamp.png" />
            <img src="~/images/screen.png" />
            <img src="~/images/head.png" />
            <img src="~/images/hand.png" />
            <img src="~/images/rocket.png" />
            <svg viewBox="0 0 784 378">
                <path class="svgLine" d="M1.000,149.000 L87.000,99.000 L173.000,149.000 L174.000,249.000 L266.000,302.000 L266.000,201.000 L352.000,152.000 L352.000,51.000 L438.000,1.000 L525.000,52.000 L525.000,149.000 L652.000,75.000 L783.000,151.000 L783.000,301.000 L652.000,377.000 " fill="transparent"></path>
            </svg>
            <div class="text-content">
                <p class="header-title">Step <span>1</span></p>
                <p class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida</p>
            </div>
            <div class="text-content">
                <p class="header-title">Step <span>2</span></p>
                <p class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida</p>
            </div>
            <div class="text-content">
                <p class="header-title">Step <span>3</span></p>
                <p class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida</p>
            </div>
            <div class="text-content">
                <p class="header-title">Step <span>4</span></p>
                <p class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
            </div>
        </div>
    </div>

    <button class="footer-button unfilled page-footer-button" onclick="window.location.href='/Page5'"><img src="/icons/arrow-down-o.svg"></button>
</div>