@page
@model Site2.Pages.Page3Model
@{
}

<link href="~/css/Page.css" rel="stylesheet"/>

<div class="page3 background background-with-image grid">
    <div class="page3-content">
        <div>
            <p class="content"><span>Expand</span> your business</p>
            <button class="button unfilled">Join Us</button>
        </div>
    </div>
    <button class="footer-button filled page-footer-button" onclick="window.location.href='/Page4'"><img src="/icons/arrow-down-w.svg"></button>
</div>