@page
@model Site2.Pages.Page10Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />

<div class="page10">
    <div class="hex-container">
        <img src="~/icons/quote.png" />
        <svg viewBox="0 -4 100 128">
            <polygon class="hex filled" points="0,30 50,0 100,30 100,90 50,120 0,90 0,30" />
        </svg>
    </div>
    <div class="content">
        <div>
            <p class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conse</p>
            <div class="hex-mask">
                <img src="/persons/richman.png">
            </div>
            <div>
                <p class="name"><span>Alan</span> Richman</p>
                <p class="position">CEO of Romashka</p>
            </div>
        </div>
        <div>
            <a href="#"><img src="~/icons/arrow-l.svg" /></a>
            <a href="#"><img src="~/icons/arrow-r.svg" /></a>
        </div>
    </div>
    <div class="hex-container">
        <a href="~/Page11">
            <p>Daisy</p>
            <svg viewBox="0 -4 100 128">
                <polygon class="hex filled" points="0,30 50,0 100,30 100,90 50,120 0,90 0,30" />
            </svg>
        </a>
    </div>
</div>