@page
@model Site2.Pages.Page5Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />

<div class="page5">
    <p class="header-title">what do <span>we do?</span></p>
    <div>
        <p class="header-title">Landing Pages</p>
        <p class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam</p>
        <button class="button filled">More details</button>
    </div>
    <div>
        <img src="~/images/screens.png" />
    </div>
    <button class="footer-button unfilled page-footer-button" onclick="window.location.href='/Page6'"><img src="/icons/arrow-down-o.svg"></button>
</div>