@page
@model Site2.Pages.Page8Model
@{
}

<link href="~/css/Page.css" rel="stylesheet" />
<link href="~/css/animation.css" rel="stylesheet" />

<div class="page8">
    <p class="header-title">portfolio</p>
    <div class="header-menu">
        <a class="tooltip-links" href="#">all</a>
        <p>/</p>
        <a href="#">entertainment</a>
        <p>/</p>
        <a href="#">sport</a>
        <p>/</p>
        <a href="#">business</a>
        <p>/</p>
        <a href="#">building</a>
    </div>
    <div class="content">
        <div>
            <a href="#"><img src="/images/bikes.png" /></a>
            <div title="mountain bikes" class="overlay">
                <p>+</p>
            </div>
        </div>
        <div>
            <a href="#"><img src="/images/colors.png" /></a>
            <div title="colors" class="overlay">
                <p>+</p>
            </div>
        </div>
        <div>
            <a href="#"><img src="/images/bus.png" /></a>
            <div title="bus" class="overlay">
                <p>+</p>
            </div>
        </div>
        <div>
            <a href="#"><img src="/images/post.png" /></a>
            <div title="post" class="overlay">
                <p>+</p>
            </div>
        </div>
        <div>
            <a href="#"><img src="/images/site.png" /></a>
            <div title="site" class="overlay">
                <p>+</p>
            </div>
        </div>
        <div>
            <a href="#"><img src="/images/cars.png" /></a>
            <div title="cars" class="overlay">
                <p>+</p>
            </div>
        </div>
    </div>
    <button class="button filled">I want landing page</button>
    <button class="footer-button unfilled page-footer-button" onclick="window.location.href='/Page9'"><img src="/icons/arrow-down-o.svg"></button>
</div>
